* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #fafafa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

header, main{
    max-width: 1280px;
    margin: auto;
    padding: 0 16px 60px;
}

h1, h2{
    text-align: center;
    margin: 25px;
}

h3{
    margin: 25px 25px 25px 0;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 30px 0 0;


}
a:hover {
    color: blue;
    box-shadow: 5px 5px 3px darkblue;
}

p{
    margin: 0 0 50px 25px;
    line-height: 30px;
}

.linkRetorno{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}



