*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif
}

.container{
    width: 75vw;
    margin: 1rem auto 2rem auto;
    border: 1px solid red;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #0A0935;
    border: #D7F205 1px solid;
    margin: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 1rem;
}

article {
    display: flow-root;
}

article img{
    width: 300px;
    float: left;
    margin: 0 1rem 0 0;
}

article p{
    text-align: justify;
    padding: 1rem;
    line-height: 1.5rem;
}

