*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 75vw;
    margin: 1rem auto 2rem auto;
    height: 300vh;
}

.section-banner{
    background-color: #42113C;
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;

}

.banner-img{
    width: 50vw;
}

.tempo-limitado{
    background-color: orange;
    color: white;
    border-radius: 3rem;
    padding: 1%;
    width: 15%;
    text-align: center;
    position: absolute;
    bottom: 13%;
    left: 22%;
    font-weight: bold;
}

.quero-promo{
    background-color: #f0f0f0;
    border: 5px dotted #42113C;
    border-radius: 0 0 3rem 3rem;
    position: absolute;
    top: 90%;
    left: 10%;
    right: 10%;
    padding: 1%;
    text-align: center;
    font-weight: bold;
}