* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: darkblue;
}

.container {
    width: 75vw;
    margin: 1rem auto 2rem auto;
    border: 1px solid #D7F205;
}

.box {
    border: 1px solid red;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    transition: transform 0.5s ease, background-color 0.8s;
}

.box1 {
    background-color: #94A3B8;
}

.box2 {
    background-color: #f0f0f0;
    position: relative;
    bottom: 6rem;
    left: 5rem;
}

.box3 {
    background-color: #00b0f4;
    position: relative;
    bottom: 12rem;
    left: 10rem;
}

.box:hover {
    position: relative;
    z-index: 1;
    background-color: #D7F205;
    border-radius: 2rem;
    transform: scale(1.2);
}
