* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

.container{
    max-width: 1366px;
    margin: 0 auto;
}

.container div{
    margin: 15px auto;
    text-align: center;
    color: royalblue;
    border: 2px solid #b10000;
    font-size: 0.9em;
    cursor: pointer;
}

.orbitron-700 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}


.quantico-regular {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
}

.quantico-bold {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
}

.quantico-regular-italic {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;

}

.quantico-bold-italic {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: italic;
    word-spacing: 0.6em;
}


.doto-400 {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ROND" 0;
}

.windsong-regular {
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    color: red;
}
