* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /*100 - 900*/
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.1rem;
    background: #d2d2c0 url("../img/fundo.png") center center;
    color: #717161;
}

.container {
    max-width: 1200px;
    margin: 0.5rem auto 1.5rem auto;
    box-shadow: 0 .5rem .5rem #717161;
}

.hero-image img {
    width: 100%;
}

.hero-nav {
    background: #d2d2c0;
}

.hero-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

.hero-nav ul li {
    list-style: none;
}

.hero-nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    padding: .2rem .5rem;
}

.hero-nav ul li a:hover {
    text-decoration: none;
    color: #f0f0f0;
    background: #717161;
    border-radius: .3rem;
    box-shadow: 0 .5rem .5rem #717161;
}

.mainSection {
    background: #e5e4d4;
}

.mainSection h2 {
    padding: .6rem 2rem;
}

.mainSection p {
    padding: .6rem 2rem;
    text-indent: 2rem;
    text-align: justify;
}

.mainSection p:last-child {
    padding-bottom: 1.2rem;
}

.mainSection p:first-letter {
    font-weight: bold;
}

.rodape {
    text-align: center;
    padding: 1.5rem 0;
    font-weight: 900;
}