* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /*100 - 900*/
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.1rem;
    background: #d2d2c0 url("../img/fundo.png") center center;
    color: #717161;
}

.container {
    max-width: 1200px;
    margin: 0.5rem auto 1.5rem auto;
    box-shadow: 0 .5rem .5rem #717161;
}