.sobre {
    background: #e5e4d4;
}

.sobre h2 {
    padding: .6rem 2rem;
}

.sobre p {
    padding: .6rem 2rem;
    text-indent: 2rem;
    text-align: justify;
}

.sobre p:last-child {
    padding-bottom: 1.2rem;
}

.sobre p:first-letter {
    font-weight: bold;
}

