:root {
    --bg-primario: #261CC1;
    --bg-secundario: #3A9AFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 10px;
    gap: 8px;
}

.box {
    min-width: 100px;
    min-height: 100px;
    border: 2px solid #1C0770;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primario);
    font-weight: bold;
    color: #F1FF5E;
}

.bg-item-alterado {
    background-color: var(--bg-secundario);
}

.box2 {
    grid-area: span 1 / span 2;
}

.box3 {
    grid-area: span 1 / span 2;
}

.box4 {
    grid-area: span 2 / span 1;
}

.box7 {
    grid-area: span 1 / span 3;
}