:root {
    --bg-primario: #261CC1;
    --bg-secundario: #3A9AFF;
}

.bg-item-alterado {
    background-color: var(--bg-secundario);
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.aside-l {
    grid-area: aside-l;
}

.aside-r {
    grid-area: aside-r;
}

.footer {
    grid-area: footer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 60px 10px;
    gap: 8px;
    grid-template-areas:
            "header header nav"
            "aside-l main aside-r"
            "footer footer footer";

}

.box {
    padding: 5px;
    min-width: 100px;
    min-height: 100px;
    border: 2px solid #1C0770;
    background-color: var(--bg-primario);
    font-weight: bold;
    color: #F1FF5E;
    text-align: justify;
}


