:root {
    --cor-fundo-body: #f0f0f0;
    --cor-fundo: #261CC1;
    --cor-borda: #1C0770;
    --cor-texto: #F1FF5E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo-body);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main-container {
    padding: 1rem 1rem 6rem 1rem;
    max-width: 1460px;
    margin: auto;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    grid-area: main;
}

.main h1 {
    text-align: center;
    padding: 1rem;
}

.main p {
    text-align: justify;
    line-height: 1.5rem;
    text-indent: 2rem;
    padding: 0 1rem 1rem 1rem;
}

.aside-l,
.aside-r {
    display: none;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "main"
            "footer";
}

.box {
    padding: 3px;
    min-width: 100px;
    min-height: 100px;
    border: 2px solid var(--cor-borda);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

@media screen and (min-width: 1200px) {

    .container {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            "header header header"
            "aside-l main aside-r"
            "footer footer footer";
    }

    .aside-l {
        grid-area: aside-l;
        display: flex;
        justify-content: center;
    }

    .aside-r {
        grid-area: aside-r;
        display: flex;
        justify-content: center;
    }
}

