*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1366px;
    margin: auto;
    border: 1px solid blue;
}

.h1Header{
    border: 1px solid red;
}

.pHeader{
    border: 1px solid red;

}

.img{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.margin{
    border: 1px solid red;
    margin: 20px;
}

.pading{
    border: 1px solid red;
    padding: 20px;
}