* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020126;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
    font-size: 1.1rem;
}

/* ===== COMPOSIÇÃO =====*/
.corner {
    border-radius: 2rem;
}

.shadow {
    box-shadow: 8px 8px 7px 0 rgba(0, 0, 0, 0.3);
}

.border {
    border: 1px solid #D7F205;
}

.border-bottom {
    border-bottom: 1px solid #D7F205;
}

.title {
    font-weight: bold;
    padding: 1rem 0 0 2rem;
}

.subtitle {
    color: #94A3B8;
    padding: 0 0 1rem 2rem;
    font-weight: bold;
}

.texts {
    line-height: 1.5rem;
    text-align: justify;
    padding: 0 3rem 1rem 3rem;
    text-indent: 3rem;
}

.texts::first-letter {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    color: #D7F205;
}

.links {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
    display: block;
    width: 190px;
    transition: 0.3s ease-in-out;
}

.links:hover {
    background-color: #f0f0f0;
    color: #0A0935;
}

.links.active {
    background-color: #fff;
    color: #000;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ===== FIM COMPOSIÇÃO =====*/

.main-container {
    width: 75vw;
    margin: 1rem auto 3rem auto;
    background-color: #0A0935;
    min-height: 120vh;
}

.menu {
    margin: 0 0 1rem 2rem;
}

.material-symbols-outlined {
    display: inline-block;
    color: inherit;
    padding-right: 1rem;
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}


