*{
    margin: 0.5em;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

div{
    border: 1px solid green;
}

/*Seleciona apenas os fillhos deiretos*/
.pai>h2{
    color: red;
}

.pai1 h2{
    color: red;
}

.pai1 h2+p{
    color: red;
}

.pai2 h2~p{
    color: red;
}
