* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #76c3fa;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 75vw;
    background-color: #f0f0f0;
    margin: 2rem auto 3rem auto;
    padding: 1rem;
    position: relative;
}

.hero {
    background: royalblue;
    display: flex;
    flex-wrap: wrap;
}

.hero-img {
    max-width: 220px;
    padding: 1rem;
    margin: 0.8rem;
}

.hero-nav {
    display: flex;
    align-items: center;
}

.hero-nav li {
    list-style: none;
}

.hero-nav a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 1rem 0 1rem;
}

.hero-nav a:hover {
    background-color: #f0f0f0;
    color: royalblue;
    border-radius: 5px;
}

.hero-novo {
    position: absolute;
    right: 0;
    top: 0;
}

.secao h1 {
    padding: 1rem 0 2rem 0;
    font-size: 2.5rem;
}

.secao p {
    text-indent: 3rem;
    text-align: justify;
    padding-inline: 1rem;
}

.secao p:first-letter {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}

.chat {
    display: flex;
    background-color: royalblue;
    flex-direction: column;
    width: 300px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    overflow: hidden;
}

.chat h2 {
    padding: 1rem;

}

.chat textarea {
    font-size: 1rem;
    height: 200px;
    width: 95%;
    margin: auto;
}

.chat button {
    width: 25%;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem auto;
}

