* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: blue;
}

.menu{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
}

.itemMenu{
    list-style: none;
    align-items: flex-end;
}

.linkMenu {
    color: white;
}

.comprePeloTefone{
    background-color: white;
}