* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 75vw;
    margin: 0 auto;
    background-color: #94A3B8;
    padding: 2rem 3rem 4rem 2rem;
}

.pai {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.item {
    min-width: 324px;
    min-height: 200px;
    background-color: #0A0935;
    border: 4px solid #D7F205;
    color: #D7F205;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 1rem;
    box-shadow: 8px 8px 7px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.item:hover {
    box-shadow: 16px 16px 7px 0 rgba(0, 0, 0, 0.3);
}

.info {
    display: flex;
    align-items: center;
    border-right: 4px solid #D7F205;
}

.info span {
    font-weight: bold;
    padding: 1rem;
    font-size: 2rem;
}

.boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.subitem {
    width: 65px;
    height: 40px;
    border: 1px solid #D7F205;
}

.subitem:first-child {
    background-color: red;
}

.subitem:last-child {
    background-color: royalblue;
}

