* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: greenyellow url("../img/fundo-site.png") left top ;
}

h1{
    margin: 1em;
}

h2{
    margin: 1em;
}

p{
    margin: 1em;
    text-indent: 2em;
}

.bg{
    background: #dbd8b6 url("../img/fundo-h1.png") repeat-x left top;
    padding: 0.5em 1em 0.5em 1em;
}