:root {
    --box-shadowbox: 7px 7px 5px 0 rgba(0, 0, 0, 0.3);
    --transition: 300ms ease-in-out;
    --primary-color: #f0f0f0;
    --secondary-color: #0b5cff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border {
    border: 1px solid var(--secondary-color);
}

body {
    background: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.p0-5 {
    padding: 0.5rem;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    padding: 0.75rem;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0 1 auto;
}

.header a {
    text-decoration: none;
    display: block;
}

.header a:active {
    opacity: 0.7;
}

.logo img {
    width: clamp(130px, 75vw, 260px);
}

.menu {
    width: 100%;
}

.menu-ul {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    align-items: flex-start;
}

.menu-ul li {
    list-style: none;
}

.first-nav {
    color: black;
    font-weight: normal;
    border-radius: 6px;
}

.menu-buttons {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    flex: 0 1 auto;
    align-items: flex-start;
}

.button-sellers,
.button-new-account {
    border: 1px solid #0b5cff;
    border-radius: 30px;
}

.button-sellers {
    color: var(--secondary-color);
}

.button-new-account {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/*TABLET 600 a 1023px*/

@media (min-width: 600px) {
    .menu-ul {
        flex-flow: row wrap;
        flex: 0 1 auto;
        justify-content: center;
        gap: 1.5rem;
    }

    .menu-buttons {
        flex-flow: row wrap;
        justify-content: center;
    }
}

/*PC >1024px */
@media (hover: hover) and (min-width: 1024px) {

    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .menu {
        width: auto;
    }

    .menu-ul {
        flex-flow: row wrap;
    }

    .menu-buttons {
        width: auto;
        flex-flow: row wrap;
    }

    .first-nav:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        box-shadow: var(--box-shadowbox);
    }

    .button-sellers:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        box-shadow: var(--box-shadowbox);
    }

    .first-nav,
    .button-sellers,
    .button-new-account {
        transition: var(--transition);
    }

    .button-new-account:hover {
        background-color: #0c4ed5;
        box-shadow: var(--box-shadowbox);
    }
}
