:root{
    --box-shadowbox: 7px 7px 5px 0 rgba(0, 0, 0, 0.3);
    --transition: 300ms ease-in-out;
    --primary-color: #f0f0f0;
    --secondary-color: #0b5cff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}


.p0-5 {
    padding: 0.5rem;
}

.main-container {
    width: 100%;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    flex: 0 1 auto;
    border-bottom: 1px solid grey;
}

.header a {
    text-decoration: none;
    display: block;
}

.logo img {
    width: 130px;
}

.menu-ul {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    flex: 0 1 auto;
}

.menu-ul li {
    list-style: none;
}

.first-nav {
    color: black;
    font-weight: normal;
    transition: var(--transition);
    border-radius: 6px;
}

.first-nav:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: var(--box-shadowbox);

}

.menu-buttons {
    display: flex;
    flex: 0 1 auto;
    gap: 1rem;
}

.button-sellers,
.button-new-account {
    border: 1px solid #0b5cff;
    border-radius: 30px;
}

.button-sellers {
    color: var(--secondary-color);
    transition: var(--transition);
}

.button-sellers:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: var(--box-shadowbox);
}

.button-new-account {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: var(--transition);
}

.button-new-account:hover {
    background-color: #0c4ed5;
    box-shadow: var(--box-shadowbox);
}
