* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

.container {
    margin: 25px;
    border: 2px solid #828282;
    background-color: #ffffff;
}

.titulo {
    color: #772bca;
    margin: 25px;
}

.pHeader{
    margin-left: 25px;
    color: #828282;
}

.imagemImg{
    border: 2px solid #772bca;
    margin: 25px;
    padding: 10px;
    cursor: pointer;
}

.informacoesTitulo{
    margin:0 25px 25px 25px;
}

.informacoesAvaliacao{
    margin:0 25px 25px 25px;
}

.informacoesDescricao{
    margin:0 25px 25px 25px;
}

